# Ignore IDE folders
.idea/

# Ignore Python cache folders
__pycache__/

# Ignore documents
documents/

# Ignore alternative workspaces
src-*/

# Ignore standalone scripts
standalone/

# Ignore releases
releases/

# Ignore environment variables
.env
.env.local

# Ignore Aider related files
.aider*

# Ignore logs
*.log
