# Ignore IDE folders
.idea/

# Ignore Python cache folders
__pycache__/

# Ignore alternative workspaces
src-*/

# Ignore notes
notes/

# Ignore environment variables
.env
.env.local

# Ignore Aider related files
.aider*

# Ignore logs
*.log
